{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('acceuil') }}
    <style>
        body{
            background-color:#FAFAFA;

        }
        .wrapper > div {
            #border: 2px solid rgb(233,171,88);
            #border-radius: 5px;
            #background-color: rgba(233,171,88,.5);
            padding: 1em;
            #color: #d9480f;
        }
        .wrapper {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 10px;
        }
        .one {
            grid-column: 1/7;
            grid-row: 1;
        }
        .two {
            grid-column:  1/ 3;
            grid-row: 2/ 3;
        }

        .four {
            grid-column: 1/3;
            grid-row: 3;

        }
        .five {
            grid-column: 1/3;
            grid-row: 4/6;
        }
        .six {
            grid-column: 4/6;
            grid-row: 3/7;
        }
        .sevens {
            padding-top:20px;
        }

        .btn {
            background-color: white;
            border: none;
            color: black;
            padding: 12px 16px;
            font-size: 16px;
            -webkit-box-shadow: 0px 0px 21px -11px #D4D4D4;
            box-shadow: 0px 0px 21px -11px #D4D4D4;
        }
        .btn:hover{
            background-color:#F8F8FF;
        }

        .text-login{
            font-weight: bolder;
            font-size: 1.4em;
        }



        .btn_sumbit{
            width:220px;
            height:65px;
            font-size: 1.8em;
            background-color:#023047;
            color:white;
        }



        .route{
            color:#023047;
            text-decoration: none;
            font-size: 1.8em;
        }


        .route:last-child {
            padding:40px;
            font-weight:bold;
            text
        }

        .route:hover{
            color:#023047;
            text-decoration: none;
            font-size: 1.8em;
        }


        .forgot_password{
            color:black;
        }
        .forgot_password:hover{
            color:gray;
        }
        .forgot_password:focus{
            color:black;
        }

        .form-control{
            padding: 12px 16px 12px 39px;
            height: 50px;
            font-size: 14px;
            color: #2b2a2a;
            border: none;
            border-radius: 0;
            box-shadow: 21px 21px 21px -21px #D4D4D4;
            margin-bottom: 15px;
        }
    </style>

{% endblock %}

{% block body %}



    <div class="wrapper">
        <div class="two">
            <a class="route" href="{{ path('app_register')}}"> S'inscrire</a>
            <a class="route" href=""{{ path('app_login')}}""> Se connecter</a>
        </div>
        <div class="four">

            <span class="text-login"> Se connecter avec... </span>
            <br><br>
            <div id="div_button">
                <button class="btn"> <img src="{{ asset('build/google.png') }}" alt="Paris" width="20" height="20"> Google </button>
                <button class="btn"><img src="{{ asset('build/facebook_2.png') }}" alt="Paris" width="20" height="20"> Facebook </button>
            </div>

        </div>
        <div class="five">
            <span class="text-login"> Ou... </span>
            <form method="post">
                <div class="col-sm-12"><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus placeholder="Entrez votre adresse mail"></div>
                <div class="col-sm-12"><input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Entrez votre mot de passe"></div>

                <a href="#" class="forgot_password"> Mot de passe oublié? </a>

                <div class="sevens">
                    <button class="btn_sumbit" type="submit">
                        Me connecter
                    </button>
            </form>
        </div>

    </div>
    <div class="six"><img class="fit-picture"
                          src="{{ asset('build/login.png') }}"
                          alt="Grapefruit slice atop a pile of other slices"></div>
    </div>

{% endblock %}
