{% extends 'base.html.twig' %}

{% block title %}Add Formation !{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('acceuil') }}
{% endblock %}

{% block body %}

<div class="container fluid">
  <h1>Ajouter une formation</h1>
      {{ form_start(form, {'method': 'POST'}) }} 
      <fieldset>
        <legend>Ajouter une formation pour vos listes de formations</legend>
     
                <div class="form-group">
                {{ form_label(form.titre, 'Entrez le nom de la formation') }}
                {{ form_widget(form.titre,{label_attr : {'class':'form-control'} }) }}
                 </div>
                 
                 <div class="form-group">
                  {{ form_label(form.description, 'Entrez la descrpiton de la formation') }}
                  {{ form_widget(form.description,{label_attr : {'class':'form-control'} }) }}
                 </div>

                <div class="form-group">
                  {{ form_label(form.formation_lien, 'Ficher de votre formation') }}
                  {{ form_widget(form.formation_lien,{label_attr : {'class':'form-control'} }) }}
                 </div>

                <div class="form-group">
                   {{ form_label(form.is_payant, 'La formation est disponible gratuitement?') }}
                   {{ form_widget(form.is_payant,{label_attr : {'class':'form-control'} }) }}
                </div>
                
                <div class="form-group">
                  {{ form_widget(form.Enregistrer,{label_attr : {'class':'form-control'} }) }}
                </div>
                </fieldset>
{{ form_end(form) }}
               
          
         </div>



{% endblock %}
