{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('acceuil') }}
{% endblock %}
{% block body %}

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/43cfe2aea0.js" crossorigin="anonymous"></script>
    </head>

    <style>
        i {
            color: orange;
        }

        .dots {
            list-style-type: none;
            background: #f8f9fa ;
            position: relative;

        }

        .dot {
            display: inline-block;
            vertical-align: middle;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            background: #C8CACB;
            margin-left: 15px;
            margin-right: 15px;
            cursor: pointer;
            color: white;
            position: relative;
            z-index: 2;
        }

        .dot:hover{
            background: #86D6EA;
            transition: 0.3s;
        }

        .dot-select{
            display: inline-block;
            vertical-align: middle;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            margin-left: 15px;
            margin-right: 15px;
            cursor: pointer;
            color: white;
            position: relative;
            z-index: 2;
            background: #219EBC;

        }
    </style>

    <body>
    <main role="main">
        <section class="jumbotron text-left">
            <div class="container">
                <h1 class="jumbotron-heading ">Decouvrir nos formations</h1>
                <p class="lead text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu vulputate
                    dolor, tempor imperdiet velit. Donec ultricies mi vitae augue aliquet maximus. Curabitur consectetur
                    nisl vel nunc mattis, eu molestie augue mollis. Integer eget metus facilisis, laoreet <br> <br> dui sit amet,
                    elementum quam. Nam mauris leo, ultricies posuere varius quis, tincidunt quis lectus. Aliquam
                    convallis metus sed ipsum elementum placerat. Quisque nibh velit, rutrum sit amet est id, tincidunt
                    tincidunt arcu. Mauris elementum, ante a congue rhoncus, felis urna ullamcorper neque, id laoreet
                    arcu mi nec risus. <br> <br> Fusce pellentesque bibendum mauris, vitae fermentum erat auctor non. Ut molestie
                    volutpat pharetra. Nam pellentesque placerat augue nec placerat.
                <h2 class="jumbotron-heading">Dans quel domaine souhaiteez vous vous former ?</h2>
                <section class="d-flex justify-content-around">

                    <a type="button" class="btn btn-outline-dark">Dévéloppement</a>
                    <a type="button" class="btn btn-outline-dark">Data</a>
                    <a type="button" class="btn btn-outline-dark">Rh et Gestion</a>
                    <a type="button" class="btn btn-outline-dark">Systèmes et Réseaux</a>
                    <a type="button" class="btn btn-outline-dark">Marketing et Communication</a>
                    <a type="button" class="btn btn-outline-dark">Business</a>
                    <a type="button" class="btn btn-outline-dark">Pédagogie</a>
                    <a type="button" class="btn btn-outline-dark">Gestion de projet</a>
                    <a type="button" class="btn btn-outline-dark">Design</a>
                </section>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container" style="filter: drop-shadow(0 0 0.02rem black);">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="325"
                                 src="https://www.fedhuman.fr/system/redactor2_assets/images/14/content_fiche-metier-responsable-de-formation-ou-chef-de-projet-formation-0.jpg"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Placeholder: Thumbnail"></img>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5> Travail colaboratif </h5>
                                    </div>
                                    <medium > 22,99 €</medium>
                                </div>
                                <p class="card-text" style="font-size: 12px;">This is a wider card with supporting text
                                    below as a natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <div>

                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <large> 4.5 </large>
                                    <small class="text-muted"> (127 personnes) </small>

                                </div>
                                <hr class="solid" style="color:black">

                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <i class="fas fa-wifi" style="color: orange;"></i>
                                        <small> Debutant </small>
                                    </div>
                                    <div>
                                        <i class="far fa-clock" style="color: orange;"></i>
                                        <small> 21h34</small>
                                    </div>
                                    <div>
                                        <i class="far fa-user" style="color: orange;"></i>
                                        <small> 214 </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"> &#9001; </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"> &#9002;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <section class="jumbotron text-left">
            <div class="container">
                <h1 class="jumbotron-heading">Les formations les plus populaires</h1>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container" style="filter: drop-shadow(0 0 0.02rem black);">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="325"
                                 src="https://www.fedhuman.fr/system/redactor2_assets/images/14/content_fiche-metier-responsable-de-formation-ou-chef-de-projet-formation-0.jpg"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Placeholder: Thumbnail"></img>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5> Travail colaboratif </h5>
                                    </div>
                                    <medium> 22,99 €</medium>
                                </div>
                                <p class="card-text" style="font-size: 12px;">This is a wider card with supporting text
                                    below as a natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <div>

                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <large> 4.5 </large>
                                    <small> (127 personnes) </small>

                                </div>
                                <hr class="solid" style="color:black">

                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <i class="fas fa-wifi" style="color: orange;"></i>
                                        <small> Debutant </small>
                                    </div>
                                    <div>
                                        <i class="far fa-clock" style="color: orange;"></i>
                                        <small> 21h34</small>
                                    </div>
                                    <div>
                                        <i class="far fa-user" style="color: orange;"></i>
                                        <small> 214 </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="325"
                                 src="https://www.fedhuman.fr/system/redactor2_assets/images/14/content_fiche-metier-responsable-de-formation-ou-chef-de-projet-formation-0.jpg"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Placeholder: Thumbnail"></img>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5> Travail colaboratif </h5>
                                    </div>
                                    <medium> 22,99 €</medium>
                                </div>
                                <p class="card-text" style="font-size: 12px;">This is a wider card with supporting text
                                    below as a natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <div>

                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <large> 4.5 </large>
                                    <small> (127 personnes) </small>

                                </div>
                                <hr class="solid" style="color:black">

                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <i class="fas fa-wifi" style="color: orange;"></i>
                                        <small> Debutant </small>
                                    </div>
                                    <div>
                                        <i class="far fa-clock" style="color: orange;"></i>
                                        <small> 21h34</small>
                                    </div>
                                    <div>
                                        <i class="far fa-user" style="color: orange;"></i>
                                        <small> 214 </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="325"
                                 src="https://www.fedhuman.fr/system/redactor2_assets/images/14/content_fiche-metier-responsable-de-formation-ou-chef-de-projet-formation-0.jpg"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Placeholder: Thumbnail"></img>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5> Travail colaboratif </h5>
                                    </div>
                                    <medium> 22,99 €</medium>
                                </div>
                                <p class="card-text" style="font-size: 12px;">This is a wider card with supporting text
                                    below as a natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <div>

                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                    <large> 4.5 </large>
                                    <small> (127 personnes) </small>

                                </div>
                                <hr class="solid" style="color:black">

                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <i class="fas fa-wifi" style="color: orange;"></i>
                                        <small> Debutant </small>
                                    </div>
                                    <div>
                                        <i class="far fa-clock" style="color: orange;"></i>
                                        <small> 21h34</small>
                                    </div>
                                    <div>
                                        <i class="far fa-user" style="color: orange;"></i>
                                        <small> 214 </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <ul class="dots text-center">
                    <li class="dot-select"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                </ul>
            </div>
        </div>
    </main>
    </body>
{% endblock %}