{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('acceuil') }}
    {{ encore_entry_link_tags('dt') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('script') }}
{% endblock %}

{% block body %}
    <script src="https://kit.fontawesome.com/43cfe2aea0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="container-fluid container_top">
        <div class="col-md-6  offset-1 button_back">
            <a href="/acceuil"><- Back</a>
        </div>
        <div class="row">
            <div class="col-md-6 offset-1">
                <span class="title_orange">Formation Design Thinking</span>
                <br>
                <span class="ss_title_black">Booster la créativité et l’innovation au sein de vos équipes par le Design Thinking !</span>
                <br>
                <span class="text"><i class="fas fa-map-marker-alt" style="color: #1e7f86"></i> Présentiel</span>
                <br>
                <span class="text"><i class="fas fa-tv" style="color: #1e7f86"></i> à distance</span>
            </div>
            <div class="col-md-3  offset-1">
                <div class="card">
                    <img width="100%" src="{{ asset('build/wes-hicks-4-EeTnaC1S4-unsplash.png') }}">
                    <div class="card-body">
                        <h5 class="card-title">1490,00€</h5>
                        <a href="#" class="btn btn-primary button_panier">Ajouter au panier</a>
                        <br>
                        <p class="card-text">Suspendisse quis tortor euismod, luctus ipsum sit amet, consectetur velit. Nullam vel euismod odio.</p>
                        <p class="card-text"><i class="fas fa-signal" style="color: #f6bd5b"></i> Niveau: débutant</p>
                        <p class="card-text"><i class="far fa-clock" style="color: #f6bd5b"></i> Durée: 2 jours</p>
                        <p class="card-text"><i class="fas fa-user"  style="color: #f6bd5b"></i> Personnes formées: 324</p>
                        <p class="card-text"><i class="fas fa-file-download"  style="color: #f6bd5b"></i> Suports à télécharger: 9</p>
                        <p class="card-text"><i class="far fa-star"  style="color: #f6bd5b"></i> Note: 4.5/5</p>
                        <p class="card-text"><i class="fas fa-certificate"  style="color: #f6bd5b"></i> Certifié Répertoire spécifique</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container_bot">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="row">
                    <div class="col-md-2 offset-1">
                        <a id="target" href="#">Description</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">Programme</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">Prochaines séances</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-1" style="margin-top: 50px;">
                <span>
                    Identifier de nouvelles opportunités, améliorer ou imaginer de nouvelles solutions grâce au Design Thinking. Ce processus d’idéation apporte une vision pluridisciplinaire à vos projets à travers la co-création et propose
                    des méthodes itératives pour booster l’intelligence collective et adopter une vraie culture “design”. Venez découvrir le design thinking et animez des workshops au sein de vos équipes avec une approche centrée sur
                    l’utilisateur (UCD).
                </span>
                <br>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-1" style="margin-top: 50px;">
                <img width="100%" src="{{ asset('build/ux-indonesia-qC2n6RQU4Vw-unsplash.png') }}">
            </div>
        </div>
        <div id="switch">
            <div class="row">
                <div class="col-md-10 offset-1" style="margin-top: 50px;">
                    <h4>Formation animée en présentiel</h4>
                    <p>
                        La formation en présentiel se déroule sur 2 jours consécutifs.
                    </p>
                    <h4>Formation disponible en mode "formation à distance"</h4>
                    <p>
                        La formation à distance est décomposée en 4 demies journées, les matinées de 9h30 à 13h ou les après midi de 14h à 17h30.
                    </p>
                    <H1>OBJECTIFS</H1>
                    <ul>
                        <li>Découvrir et comprendre la méthodologie Design Thinking.</li>
                        <li>Identifier dans quels cas appliquer le Design Thinking.</li>
                        <li>Connaître les bénéfices et les limites de la méthodologie.</li>
                        <li>Adopter une approche centrée sur l’utilisateur.</li>
                        <li>S’approprier des outils de co-création et de créativité.</li>
                        <li>Animer un workshop de Design Thinking.</li>
                        <li>Mener le rôle de facilitateur créatif</li>
                    </ul>
                    <H1>PREREQUIS</H1>
                    <ul>
                        <li>Aucun</li>
                    </ul>
                    <H1>PUBLIC</H1>
                    <ul>
                        <li>Product Owners</li>
                        <li>Chef de projet/produit</li>
                        <li>Consultants</li>
                        <li>Dirigeants et entrepreneurs</li>
                        <li>Directeurs marketing</li>
                        <li>Designers</li>
                    </ul>
                    <H1>PEDAGOGIE</H1>
                    <p>50% théorie, 50% pratique</p>
                    <H1>FINANCEMENT EN FRANCE</H1>
                    <ul>
                        <li>Eligible au financement via OPCO (si la prise en charge couvre la totalité du coût de la formation)</li>
                        <li>Non éligible au financement via CPF</li>
                    </ul>
                    <H1>FORMATION EN INTER-ENTREPRISES</H1>
                    <p>Petit-déjeuners et déjeuners inclus dans le tarif</p>
                    <ul>
                        <li>9h00: Accueil petit-déjeuner</li>
                        <li>9h30: Début de la formation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-1 commentaires" style="margin-top: 50px;">
            <div class="row">
                <div class="col-md-1 offset-1" style="margin-top: 50px;">
                    <img width="100px" height="100px" src="{{ asset('build/wes-hicks-4-EeTnaC1S4-unsplash.png') }}" alt="" class="rounded-circle">
                </div>
                <div class="col-md-9" style="margin-top: 50px;">
                    <textarea placeholder="| Que pensez vous de ce blog?" rows="4" style="width: 100%; border:none"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-1" style="margin-top: 30px;">
                    <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i>
                </div>
                <div class="col-md-6" style="margin-top: 30px;">

                </div>
                <div class="col-md-2" style="margin-top: 30px;">
                    <a href="#" class="btn btn-primary button_panier">Commenter</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-1" style="margin-top: 50px;">
                    <hr>
                    <div class="row">
                        <div class="col-md-1" style="margin-top: 50px;">
                            <img width="100px" height="100px" src="{{ asset('build/wes-hicks-4-EeTnaC1S4-unsplash.png') }}" alt="" class="rounded-circle">
                        </div>
                        <div class="col-md-10" style="margin-top: 50px;">
                            <span><b>Louis Leblanc</b></span> .Il y a 2 jours
                            <br>
                            <br>
                            Vivamus pulvinar tellus et dignissim bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam felis leo, ullamcorper eget euismod quis, rutrum sit amet mi !
                            <br>
                            <br>
                            <a href="#">Répondre</a> <i class="far fa-thumbs-up"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-1" style="margin-top: 50px;">
                    <div class="row">
                        <div class="col-md-1" style="margin-top: 50px;">
                            <img width="100px" height="100px" src="{{ asset('build/wes-hicks-4-EeTnaC1S4-unsplash.png') }}" alt="" class="rounded-circle">
                        </div>
                        <div class="col-md-10" style="margin-top: 50px;">
                            <span><b>Louis Leblanc</b></span> .Il y a 2 jours
                            <br>
                            <br>
                            Vivamus pulvinar tellus et dignissim bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam felis leo, ullamcorper eget euismod quis, rutrum sit amet mi !
                            <br>
                            <br>
                            <a href="#">Répondre</a> <i class="far fa-thumbs-up"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-1" style="margin-top: 50px;">
                    <div class="row">
                        <div class="col-md-1" style="margin-top: 50px;">
                            <img width="100px" height="100px" src="{{ asset('build/wes-hicks-4-EeTnaC1S4-unsplash.png') }}" alt="" class="rounded-circle">
                        </div>
                        <div class="col-md-10" style="margin-top: 50px;">
                            <span><b>Louis Leblanc</b></span> .Il y a 2 jours
                            <br>
                            <br>
                            Vivamus pulvinar tellus et dignissim bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam felis leo, ullamcorper eget euismod quis, rutrum sit amet mi !
                            <br>
                            <br>
                            <a href="#">Répondre</a> <i class="far fa-thumbs-up"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin: 0 auto; text-align: center; padding: 50px">
                <a href="#"><b>Voir plus</b></a>
            </div>
        </div>
    </div>
{% endblock %}