{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('acceuil') }}
{% endblock %}

{% block body %}


<div class="example-wrapper">
   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col">FormationLien</th>
      <th scope="col">isPayant</th>
       <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  
  {% for formation in formations %}
  <tr>
        <td>{{ formation.id }}</td>
        <td>{{ formation.Titre }}</td>
        <td>{{ formation.Description }}</td>
        <td>   <a href="{{ asset('uploads/a28ce36b40541a26db64b284da345d9f.png') }}"> <button type="button" class="btn btn-success">Download</button> </a> </td>
        <td>
        {% if formation.isPayant == 1 %}
           Payante 
        {% else %}
          Gratuite
        {% endif %}</td>
        
        <td> 
        
            <a href="{{ path('delete_formation', {id: formation.id}) }}"> <button type="button" class="btn btn-warning">Modifier</button> </a>
            <a href="{{ path('delete_formation', {id: formation.id}) }}"> <button type="button" class="btn btn-danger">Supprimer </button> </a>
        </td>
          </tr>
    {% endfor %}

  </tbody>
</table>

<video controls width="250">

    <source src={{ asset('uploads/test.mp4') }}
            type="video/mp4">

    Sorry, your browser doesn't support embedded videos.
</video>

{{dump(formations)}}
</div>
{% endblock %}
