{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('acceuil') }}
{% endblock %}

{% block body %}
    <body>
        <div class="container_1">
            <div class="container_ml">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                <h2>Fusce ultricies facilisis malesuada.</h2>
                <a href="/formation/design_thinking"><input type="button" value="En savoir plus" class="en_savoir_plus"></a>
            </div>
        </div>
        <div class="container_2">
            <div class="propos">
                <h1>à propos</h1>
            </div>
            <div class="rectangle"></div>
            <div class="container_2_1">
                <div class="div_left">
                    <img width="100%" src="{{ asset('build/wes-hicks-4-EeTnaC1S4-unsplash.png') }}">
                </div>
                <div class="div_right">
                    <span class="cquoi">Mookeo, c'est quoi?</span>
                    <br>
                    <div style="margin-left:3%">
                        <span class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam. Sed ultricies lacus in blandit consectetur. Nunc imperdiet lorem ac feugiat dignissim. Nullam at cursus purus. Sed malesuada massa at dui scelerisque, vel venenatis magna fringilla. Sed quis ultrices nisl. Duis tempus tellus at justo convallis, non convallis arcu consectetur. Aenean vel accumsan purus, quis sodales urna. Mauris id diam auctor, dictum erat non, ultricies massa.
                        </span>
                    </div>

                </div>
            </div>
        </div>
    <div class="container_3">
        <div class="container_3_1">
            <div style="text-align:center">
                <span class="txt_orange">Pourquoi se former avec Mookeo?</span>
            </div>
            <div class="desc_3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam. Sed ultricies lacus in blandit consectetur. Nunc imperdiet lorem ac feugiat dignissim.

            </div>
            <div class="container_flex">
                <div class="item">
                    <br>
                    <img width="40%" src="{{ asset('build/web-2.png') }}">
                    <br>
                    <span class="txt_blue">
                        Modulaire
                    </span>
                    <br>
                    <span class="item_txt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam.
                    </span>
                </div>
                <div class="gap"></div>
                <div class="item">
                    <br>
                    <img width="40%" src="{{ asset('build/calendar-2.png') }}">
                    <br>
                    <span class="txt_blue">
                        Adaptatif
                    </span>
                    <br>
                    <span class="item_txt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam.
                    </span>
                </div>
                <div class="gap"></div>
                <div class="item">
                    <br>
                    <img width="40%" src="{{ asset('build/users.png') }}">
                    <br>
                    <span class="txt_blue">
                        En groupe
                    </span>
                    <br>
                    <span class="item_txt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam.
                    </span>
                </div>
                <div class="gap"></div>
                <div class="item">
                    <br>
                    <img width="40%" src="{{ asset('build/online-learning-2.png') }}">
                    <br>
                    <span class="txt_blue">
                        Formateur
                    </span>
                    <br>
                    <span class="item_txt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam.
                    </span>
                </div>
                <div class="gap"></div>
                <div class="item">
                    <br>
                    <img width="40%" src="{{ asset('build/open-book-2.png') }}">
                    <br>
                    <span class="txt_blue">
                        Pré-travail
                    </span>
                    <br>
                    <span class="item_txt">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container_4">
        <div class="container_4_1">
            <div class="container_left">
                <div style="height: 13%">
                    <span class="txt_orange">Des Formations sous 3 formats</span>
                </div>
                <div class="div_format">
                    <div class="format_left">
                        <span class="format_blue">
                            1.
                        </span>
                    </div>
                    <div class="format_right">
                        <span>
                            <h1>En ligne</h1>
                        </span>
                        <br>
                        <span class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam. Sed ultricies lacus in blandit consectetur. Nunc imperdiet lorem ac feugiat dignissim.
                        </span>
                    </div>
                </div>
                <div class="div_format">
                    <div class="format_left">
                        <span class="format_blue">
                            1.
                        </span>
                    </div>
                    <div class="format_right">
                        <span>
                            <h1>En ligne</h1>
                        </span>
                        <br>
                        <span class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam. Sed ultricies lacus in blandit consectetur. Nunc imperdiet lorem ac feugiat dignissim.
                        </span>
                    </div>
                </div>
                <div class="div_format">
                    <div class="format_left">
                        <span class="format_blue">
                            1.
                        </span>
                    </div>
                    <div class="format_right">
                        <span>
                            <h1>En ligne</h1>
                        </span>
                        <br>
                        <span class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam. Sed ultricies lacus in blandit consectetur. Nunc imperdiet lorem ac feugiat dignissim.
                        </span>
                    </div>
                </div>
            </div>
            <div class="container_right">
                <img width="100%" height="100%" src="{{ asset('build/format.png') }}">
            </div>
        </div>
        <div class="container_4_2">
            <div class="mc_left">
                <span class="txt_white_40">
                    Saviez-vous que qu’il est possible de financer sa formation via Mon Compte Formation ?
                </span>
                <br>
                <span class="txt_white_24">
                    Praesent ultricies scelerisque elit ac posuere. Sed suscipit eros at ultrices luctus. Fusce at porttitor justo. Integer suscipit lectus consectetur sagittis mattis.
                </span>
            </div>
            <div class="mc_right">
                <img width="100%" height="100%" src="{{ asset('build/mon-compte-fomation.png') }}">
            </div>
        </div>
    </div>
    <div class="container_5">
        <div class="container_5_1">
            <div class="formation">
                <h1>Nos formations</h1>
            </div>
            <div class="rec_black">

            </div>
            <div>
                <span style="font-size: 24px">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam. Sed ultricies lacus in blandit consectetur. Nunc imperdiet lorem ac feugiat dignissim.
                </span>
            </div>
        </div>
        <div class="container_5_2">
            <div class="formation_item">
                <div class="formation_item_image">
                    <img  width="100%" height="396px" src="{{ asset('build/formation1.JPG') }}">
                </div>
                <div class="formation_1">
                    <h3>Travail collaboratif</h3>
                    <br>
                    <span>
                        Suspendisse quis tortor euismod, luctus ipsum sit amet, consectetur velit. Nullam vel euismod odio.
                    </span>
                    <div class="stars_container">
                        <div class="star_left">
                            <img  width="100%" src="{{ asset('build/stars.JPG') }}">
                        </div>
                        <div class="star_right">
                            <b>4.5</b> (271 personnes)
                        </div>
                    </div>
                </div>
                <hr>
                <div class="formation_2">
                    <div class="level_container">
                        <div class="level_1">
                            <i style="color: orange" class="fas fa-signal"></i> Débutant
                        </div>
                        <div class="level_2">
                            <i style="color: orange" class="far fa-clock"></i> 28h32m
                        </div>
                        <div class="level_3">
                            <i style="color: orange" class="far fa-user"></i> 324
                        </div>
                    </div>
                </div>
            </div>
            <div class="filler">

            </div>
            <div class="formation_item">
                <div class="formation_item_image">
                    <img  width="100%" height="396px" src="{{ asset('build/formation2.JPG') }}">
                </div>
                <div class="formation_1">
                    <h3>Travail collaboratif</h3>
                    <br>
                    <span>
                        Suspendisse quis tortor euismod, luctus ipsum sit amet, consectetur velit. Nullam vel euismod odio.
                    </span>
                    <div class="stars_container">
                        <div class="star_left">
                            <img  width="100%" src="{{ asset('build/stars.JPG') }}">
                        </div>
                        <div class="star_right">
                            <b>4.5</b> (271 personnes)
                        </div>
                    </div>
                </div>
                <hr>
                <div class="formation_2">
                    <div class="level_container">
                        <div class="level_1">
                            <i style="color: orange" class="fas fa-signal"></i> Débutant
                        </div>
                        <div class="level_2">
                            <i style="color: orange" class="far fa-clock"></i> 28h32m
                        </div>
                        <div class="level_3">
                            <i style="color: orange" class="far fa-user"></i> 324
                        </div>
                    </div>
                </div>
            </div>
            <div class="filler">

            </div>
            <div class="formation_item">
                <div class="formation_item_image">
                    <img  width="100%" height="396px" src="{{ asset('build/formation3.JPG') }}">
                </div>
                <div class="formation_1">
                    <h3>Travail collaboratif</h3>
                    <br>
                    <span>
                        Suspendisse quis tortor euismod, luctus ipsum sit amet, consectetur velit. Nullam vel euismod odio.
                    </span>
                    <div class="stars_container">
                        <div class="star_left">
                            <img  width="100%" src="{{ asset('build/stars.JPG') }}">
                        </div>
                        <div class="star_right">
                            <b>4.5</b> (271 personnes)
                        </div>
                    </div>
                </div>
                <hr>
                <div class="formation_2">
                    <div class="level_container">
                        <div class="level_1">
                            <i style="color: orange" class="fas fa-signal"></i> Débutant
                        </div>
                        <div class="level_2">
                            <i style="color: orange" class="far fa-clock"></i> 28h32m
                        </div>
                        <div class="level_3">
                            <i style="color: orange" class="far fa-user"></i> 324
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_5_fill">

        </div>
        <div class="container_5_3">
            <a href="/decouvrir"><input type="button" class="plus_formation" value="Voir plus de formations"></a>
        </div>
    </div>
    <div class="container_6">
        <div class="container_6_1">
            <div class="circle_item">
                <div class="circle_item_up">
                    <span class="circle_font_up">
                        20
                    </span>
                </div>
                <div class="circle_item_down">
                    <span class="circle_font_down">
                    formations différentes
                    </span>

                </div>
            </div>
            <div class="circle_item">
                <div class="circle_item_up">
                    <span class="circle_font_up">
                        <i style="color: orange" class="far fa-user"></i> + de 400
                    </span>
                </div>
                <div class="circle_item_down">
                    <span class="circle_font_down">
                    apprenants aidés
                    </span>

                </div>
            </div>
            <div class="circle_item">
                <div class="circle_item_up">
                    <span class="circle_font_up">
                        90%
                    </span>
                </div>
                <div class="circle_item_down">
                    <span class="circle_font_down">
                    de succès
                    </span>

                </div>
            </div>
            <div class="circle_item">
                <div class="circle_item_up">
                    <span class="circle_font_up">
                        1
                    </span>
                </div>
                <div class="circle_item_down">
                    <span class="circle_font_down">
                    Certification RS <br>
                        (Répertoire spécifique)
                    </span>

                </div>
            </div>
        </div>
        <div class="container_6_2">
            <div class="container_6_2_left">
                <span class="txt_blue">
                    Souscrivez à notre newsletter
                </span>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in lacinia diam.
            </div>
            <div class="container_6_2_right">
                <input placeholder="| Entrez votre adresse mail"  class="input_sous" type="text"><input type="button" class="button_sous" value="Souscrire">
            </div>
        </div>
    </div>
    </body>
{% endblock %}