{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('acceuil') }}
{% endblock %}
{% block body %}

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/43cfe2aea0.js" crossorigin="anonymous"></script>
    </head>

    <style>
        i {
            color: orange;
        }

        .dots {
            list-style-type: none;
            background: #f8f9fa;
            position: relative;

        }

        .dot {
            display: inline-block;
            vertical-align: middle;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            background: #C8CACB;
            margin-left: 15px;
            margin-right: 15px;
            cursor: pointer;
            color: white;
            position: relative;
            z-index: 2;
        }

        .dot:hover {
            background: #86D6EA;
            transition: 0.3s;
        }

        .dot-select {
            display: inline-block;
            vertical-align: middle;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            margin-left: 15px;
            margin-right: 15px;
            cursor: pointer;
            color: white;
            position: relative;
            z-index: 2;
            background: #219EBC;

        }

        .dot-a {
            display: inline-block;
            vertical-align: middle;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            font-weight: bold;
            margin-left: 15px;
            margin-right: 15px;
            cursor: pointer;
            color: black;
            position: relative;
            z-index: 2;
            text-decoration: none;
        }

        .dota-a-select{
            background: #219EBC !important;

        }
    </style>

    <body>
    <main role="main">
        <section class="jumbotron text-left">
            <div class="container">
                <h1 class="jumbotron-heading ">Nos articles de blog</h1>
                <p class="lead text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu vulputate
                    dolor, tempor imperdiet velit. Donec ultricies mi vitae augue aliquet maximus. Curabitur consectetur
                    nisl vel nunc mattis, eu molestie augue mollis. Integer eget metus facilisis, laoreet <br> <br> dui
                    sit amet,
                    elementum quam. Nam mauris leo, ultricies posuere varius quis, tincidunt quis lectus. Aliquam
                    convallis metus sed ipsum elementum placerat. Quisque nibh velit, rutrum sit amet est id, tincidunt
                    tincidunt arcu. Mauris elementum, ante a congue rhoncus, felis urna ullamcorper neque, id laoreet
                    arcu mi nec risus. <br> <br> Fusce pellentesque bibendum mauris, vitae fermentum erat auctor non. Ut
                    molestie
                    volutpat pharetra. Nam pellentesque placerat augue nec placerat.
                <h2 class="jumbotron-heading">Dans quel domaine souhaiteez vous vous former ?</h2>
                <section class="d-flex align-content-around flex-wrap justify-content-around" style="height: 150px;">
                    <a type="button" class="btn btn-outline-primary p-2">Design</a>
                    <a type="button" class="btn btn-outline-dark p-2">Dévéloppement</a>
                    <a type="button" class="btn btn-outline-warning p-2">Marketing</a>
                    <a type="button" class="btn btn-outline-dark p-2">Developpement personnel</a>
                    <a type="button" class="btn btn-outline-dark p-2">Méthode Agile</a>
                    <a type="button" class="btn btn-outline-dark p-2">Méthode Agile</a>
                    <a type="button" class="btn btn-outline-dark p-2">learning Management</a>
                    <a type="button" class="btn btn-outline-dark">Travaill collaboratif</a>
                    <a type="button" class="btn btn-outline-dark">SEO/SEA</a>
                    <a type="button" class="btn btn-outline-dark">Scrum</a>
                    <a type="button" class="btn btn-outline-dark">Kanban</a>
                    <a type="button" class="btn btn-outline-warning">Learn Staertup</a>
                    <a type="button" class="btn btn-outline-dark">Gestion de produit API</a>
                    <a type="button" class="btn btn-outline-dark">Manager Agile</a>
                    <a type="button" class="btn btn-outline-dark">Objectif key resukt</a>
                    <a type="button" class="btn btn-outline-dark">Gestion d'équipe produit</a>
                    <a type="button" class="btn btn-outline-primary">UI/UX Design</a>
                </section>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container" style="filter: drop-shadow(0 0 0.02rem black);">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="325"
                                 src="https://www.fedhuman.fr/system/redactor2_assets/images/14/content_fiche-metier-responsable-de-formation-ou-chef-de-projet-formation-0.jpg"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Placeholder: Thumbnail"></img>
                            <div class="card-body">
                                <div>
                                    <button type="button" class="btn btn-primary">Design</button>
                                    <button type="button" class="btn btn-primary">UI/UX Design</button>
                                </div>
                                <br>
                                <h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                <p class="card-text" style="font-size: 12px;">This is a wider card with supporting text
                                    below as a natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <small class="text-muted"> Mars 2021 </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="325"
                                 src="https://blog-ux.com/wp-content/uploads/2018/06/difference-UX-design-et-UI-design.jpg"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Placeholder: Thumbnail"></img>
                            <div class="card-body">
                                <div>
                                    <button type="button" class="btn btn-warning"style="color: white;">Lean Startupt</button>
                                </div>
                                <br>
                                <h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                <p class="card-text" style="font-size: 12px;">This is a wider card with supporting text
                                    below as a natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <small class="text-muted"> Mars 2021 </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="325"
                                 src="https://www.fedhuman.fr/system/redactor2_assets/images/14/content_fiche-metier-responsable-de-formation-ou-chef-de-projet-formation-0.jpg"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Placeholder: Thumbnail"></img>
                            <div class="card-body">
                                <div>
                                    <button type="button" class="btn btn-primary">Design</button>
                                    <button type="button" class="btn btn-primary">UI/UX Design</button>
                                </div>
                                <br>
                                <h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                <p class="card-text" style="font-size: 12px;">This is a wider card with supporting text
                                    below as a natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <small class="text-muted"> Mars 2021 </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="325"
                                 src="https://blog-ux.com/wp-content/uploads/2018/06/difference-UX-design-et-UI-design.jpg"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Placeholder: Thumbnail"></img>
                            <div class="card-body">
                                <div>
                                    <button type="button" class="btn btn-warning"style="color: white;">Lean Startupt</button>
                                </div>
                                <br>
                                <h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                <p class="card-text" style="font-size: 12px;">This is a wider card with supporting text
                                    below as a natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <small class="text-muted"> Mars 2021 </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="325"
                                 src="https://www.fedhuman.fr/system/redactor2_assets/images/14/content_fiche-metier-responsable-de-formation-ou-chef-de-projet-formation-0.jpg"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Placeholder: Thumbnail"></img>
                            <div class="card-body">
                                <div>
                                    <button type="button" class="btn btn-primary">Design</button>
                                    <button type="button" class="btn btn-primary">UI/UX Design</button>
                                </div>
                                <br>
                                <h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                <p class="card-text" style="font-size: 12px;">This is a wider card with supporting text
                                    below as a natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <small class="text-muted"> Mars 2021 </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="325"
                                 src="https://blog-ux.com/wp-content/uploads/2018/06/difference-UX-design-et-UI-design.jpg"
                                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                 aria-label="Placeholder: Thumbnail"></img>
                            <div class="card-body">
                                <div>
                                    <button type="button" class="btn btn-warning" style="color: white;">Lean Startupt</button>
                                </div>
                                <br>
                                <h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                <p class="card-text" style="font-size: 12px;">This is a wider card with supporting text
                                    below as a natural lead-in to additional content. This content is a little bit
                                    longer.</p>
                                <small class="text-muted"> Mars 2021 </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron text-center dots">
            <a class="dot-a" style="color: gray;" href="#">&laquo;</a>
            <a class="dot-a dot-a-select" href="#">1</a>
            <a class="dot-a" href="#">2</a>
            <a class="dot-a" href="#">3</a>
            <a class="dot-a" href="#">4</a>
            <a class="dot-a" href="#">5</a>
            <a class="dot-a" href="#">6</a>
            <a class="dot-a"  style="color: gray;" href="#">&raquo;</a>
        </div>
    </main>
    <br><br><br><br>
    </body>
{% endblock %}