.container_top{
    background-color: #F0F0F0;
    height: 80vh;
}

.button_back{
    margin-bottom: 10vh;
    padding-top: 5vh;
}

.title_orange{
    color: #FFB703;
    font-size: 64px;
    font-weight: bold;
}

.ss_title_black{
    color: #023047;
    font-weight: bold;
    font-size: 40px;
}

.text{
    font-size: 24px;
}

.card{
    position: absolute;
    width: 20%;
}

.button_panier{
    background-color:#023047;
    margin: 0 auto;
    width: 100%;
    border-radius: 0px;
}

.container_bot{
    margin-top: 5%;
}

.commentaires{
    background-color: #F0F0F0;
    border-radius: 3px;
}