.header_div{
    width: 100%;
    font-size: 24px;
    margin:0.5%;
    background-color: #FAFAFA;
}

header{
    position: sticky;
    box-shadow: 0 4px 6px -2px #b1b1b1;
}

.nav_item{
    margin-right: 5%;
}

.span_nav{
    color: #00090E;
}

.ul_li{
    margin-right: 5%;
}


.ul_home{
    width: 100%;
}

.div_home{
    align-items: center;
    justify-content: center;
    display:flex;
}

.span_nav:hover{
    color: #FEBF21;
}

.container_1{
    height: 100vh;
    background-image: url("../../assets/images/avel-chuklanov-DUmFLtMeAbQ-unsplash.png");
    overflow: auto;
}

.container_2{
    height: 100vh;
    overflow: auto;
}

.container_3{
    height: 70vh;
    overflow: auto;
    background-color: #F0F0F0;
}

.container_4{
    height: 130vh;
    overflow: auto;
    padding: 3% 8% 3% 8%;
}

.container_5{
    height: 130vh;
    overflow: auto;
    padding: 3% 8% 3% 8%;
    background-color: #F0F0F0;
}

.container_5_fill{
    height: 5%;
}

.container_5_3{
    text-align: center;
    height: 5%;
}

.button_insc{
    color: white;
    background: #023047 0% 0% no-repeat padding-box;
    border: 2px solid #023047;
    height: 100%;
}

.container_5_1{
    height: 30%;
}


.container_5_2{
    display: flex;
    height: 60%;
    justify-content: center;
}


.container_ml{
    margin-left: 10%;
    width: 40%;
    text-align:left;
    margin-top: 15%;
}

.propos{
    margin: 3% 0 3% 10%;
}

.formation{

}

.container_2_1{
    display: flex;
    margin-left: 10%;
    height: 70%;
    width: 80%;
}

.container_3_1{
    margin-left: 10%;
    margin-top: 3%;
    height: 70%;
    width: 80%;
}
.container_4_1{
    display: flex;
    height: 65%;
    width: 100%;
}

.container_4_2{
    display: flex;
    margin-top: 5%;
    height: 25%;
    background-color: #219EBC;
    padding: 2% 5% 2% 5%;
}

.container_left{
    width: 50%;
    height: 100%;
}


.container_right{
    width: 50%;
    height: 100%;
}

.div_left{
    width: 45%;
}

.div_right{
    width: 55%;
}

.cquoi{
    margin-left: 3%;
    color: #FEBF21;
    font-size: 36px;
    font-weight: bold;
}

.text{
    font-size: 24px;
}

.rectangle{
    background-color: black;
    width: 10%;
    margin-left: 10%;
    margin-bottom: 3%;
    height: 1%;
    border-radius: 10px;
}

.rec_black{
    background-color: black;
    height: 8px;
    width: 20%;
    border-radius: 10px;
    margin: 5% 0% 5% 0%
}

.txt_orange{
    color: #FEBF21;
    font-size: 36px;
    font-weight: bold;
}

.desc_3{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.container_flex{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    height: 50%;
    justify-content: center;
}

.stars_container{
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.star_left{
    width: 50%;
}

.star_right{
    width: 50%;
}

.item{
    width: 18%;
    text-align: center;
    background-color: #FAFAFA;
    border-radius: 2px;
    box-shadow: 0 4px 6px -2px #b1b1b1;
}

.gap{
    width: 3%;
}

.txt_blue{
    color: #219EBC;
    font-weight: bold;
    font-size: 20px;
}

.item_txt{
    font-size: 16px;
}

.div_flex{
    display: flex;
    height: 100%;
}

.div_format{
    height: 29%;
    display:flex;
}

.format_left{
    width: 20%;
}

.format_right {
    margin-left: 5%;
}


.format_blue{
    font-family: Raleway;
    font-weight: bold;
    font-size: 120px;
    color: #219EBC;
}

.mc_left{
    width: 65%;
}

.mc_right{
    width: 30%;
    margin-left: 5%;
}

.txt_white_40{
    color: #FAFAFA;
    font-size: 40px;
    font-weight: bold;
}

.txt_white_24{
    color: #FAFAFA;
    font-size: 24px;
}

.formation_item{
    height: 100%;
    width: 30%;
    box-shadow: 0 0 10px;
    background-color: #FAFAFA;
}

.formation_1{
    margin: 3%;
    height: 30%;
}

.formation_2{
    height: 10%;
}

.filler{
    width: 3%;
}


.level_container{
    display:flex;
    margin-bottom: 5%;
    margin-top: -5px;
}

.level_1{
    justify-content: center;
    align-content: center;
    width: 40%;
    text-align: left;
}

.level_2{
    width: 45%;
    text-align: left;
}

.level_3{
    width: 15%;
    text-align: left;
}

.container_6{
    height: 70vh;
    padding: 5% 10% 5% 10%;
}

.container_6_1{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50%;
}

.circle_item{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px;
    margin-right: 5%;
    margin-left: 5%;
}

.circle_item_up{
    height: 50%;
    text-align:center;
    padding-top: 20%;
}

.circle_item_down{
    height: 50%;
    text-align:center;
}

.circle_font_up{
    color: #FFB703;
    font-size: 36px;
    font-weight: bold;
}

.circle_font_down{
    color: #023047;
    font-size: 18px;
}

.container_6_2 {
    background-color: #F0F0F0;
    height: 50%;
    display: flex;
}


.container_6_2_left{
    margin: 3% 10% 3% 10%;
    width: 40%;
}

.container_6_2_right{
    margin: 3% 10% 3% 10%;
    width: 60%;
}

.button_sous{
    color: white;
    background-color: #023047;
    border-radius: 5px;
    width: 35%;
    height: 50%;
}

.input_sous{
    width: 60%;
    height: 50%;
}


/** FOOTER **/
footer{
    height: 40vh;
    background-color: #023047;
    color: white;
}

.footer_table{
    width: 100%;
}

.footer_table td{
    width: 20%;
    text-align: center;
}

.footer_table_container{
    margin: 0 auto;
    width: 40%;
}

.hr{
    background-color: white;
    width: 80%;
    height: 1px;
    margin: 0 auto;
    margin-top: 1%;
}

.footer_bottom{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
}

.table_rs td{
   padding-right: 10px;
}

.footer_bottom_filler{
    width: 40%;
}

.footer_bottom_left{
    width: 30%;
}

.footer_bottom_right{
    width: 30%;
    text-align: right;
}

.footer_logo{
    width: 20%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
}

.plus_formation{
    background-color: #023047;
    color: white;
    border-radius: 3px;
    width: 25%;
    height: 60px;
    padding: 5px;
    font-size: 24px;
}

.plus_formation:hover{
    background-color: #258bbe;
}

.en_savoir_plus{
    background-color: #023047;
    color: white;
    border-radius: 3px;
    width: 30%;
    height: 60px;
    padding: 5px;
    font-size: 24px;
}

.en_savoir_plus:hover{
    background-color: #258bbe;
}