<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/43cfe2aea0.js" crossorigin="anonymous"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://js.stripe.com/v3/"></script>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
         {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="row header_div">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <img width="100%" src="{{ asset('build/mookeo.JPG') }}" alt="Mookeo">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 div_home">
                    <ul class="navbar-nav ul_home">
                        <li class="nav-item active ul_li">
                            <a class="nav-link" href="/">
                                    <span class="span_nav">
                                         Home
                                    </span>
                            </a>
                        </li>
                        <li class="nav-item ul_li">
                            <a class="nav-link" href="#">
                                    <span class="span_nav">
                                        À propos
                                    </span>
                            </a>
                        </li>
                        <li class="nav-item ul_li">
                            <a class="nav-link" href="/decouvrir">
                                    <span class="span_nav">
                                        Nos formations
                                    </span>
                            </a>
                        </li>
                        <li class="nav-item ul_li">
                            <a class="nav-link" href="#">
                                    <span class="span_nav">
                                        |
                                    </span>
                            </a>
                        </li>
                        <li class="nav-item ul_li">
                            <a class="nav-link" href="/blog">
                                    <span class="span_nav">
                                        Blog
                                    </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 div_home">
                    <ul class="navbar-nav ul_home">
                        <li class="nav-item active">
                            <a class="nav-link" href="/login">
                                    <span class="span_nav">
                                        Se connecter
                                    </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">
                                <input class="button_insc" type="button" value="S'inscrire">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer>
        <footer>
            <div style="height: 10%;"></div>
            <div class="footer_logo">
                <img height="100%" src="{{ asset('build/logo-white.png') }}">
            </div>
            <div style="height: 10%"></div>
            <div class="footer_table_container">
                <table class="footer_table">
                    <tr>
                        <td><a style="color: white;text-decoration: none" href="/">Home</a></td>
                        <td>à propos</td>
                        <td><a style="color: white;text-decoration: none" href="/decouvrir">Nos formations</a></td>
                        <td>|</td>
                        <td><a style="color: white;text-decoration: none" href="/blog">Blog</a></td>
                    </tr>
                </table>
            </div>
            <div class="hr">

            </div>
            <div class="footer_bottom">
                <div  class="footer_bottom_left">
                    <table class="table_rs">
                        <tr>
                            <td><span style="font-size: 16px;">Suivez nous</span></td>
                            <td><a href="#"><img src="{{ asset('build/facebook.png') }}"></a></td>
                            <td><a href="#"><img src="{{ asset('build/linkedin.png') }}"></a></td>
                            <td><a href="#"><img src="{{ asset('build/instagram.png') }}"></a></td>
                            <td><a href="#"><img src="{{ asset('build/twitter.png') }}"></a></td>
                            <td><a href="#"><img src="{{ asset('build/youtube.png') }}"></a></td>
                        </tr>
                    </table>
                </div>
                <div class="footer_bottom_filler">

                </div>
                <div class="footer_bottom_right">
                    © 2021 - Mookeo. Tous droits réservés
                </div>
            </div>
        </footer>
    </footer>
</html>
